*{
    padding: 0;
    margin: 0;
    background-color: #5DAD84;
}

body{
    height: 100vh;/*Ajustando ocupação completa da altura da tela com CSS*/
    box-sizing: border-box;
}

.titulo-blog{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 1%;
    color: #614004;
}

.bloco-de-texto{
    display: flex;
}

p{
    padding: 3%;
}

.texto-destaque{
    color: #50067B; 
}

.urgente{
    background-color: red;
    color: yellow;
}
.links{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.links__subtitulo{
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}
.links__link{
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #f6f6f6;
    border: 2px dotted #22d4fd;
    border-radius: 8px;
    width: 378px;
}