*{
    margin: 0;
    padding: 0;
}
.apresentacao{
    display: flex; /*Criando um layout sem scroll*/
    /*flex-direction: row | row-reverse | column | column-reverse;*/
    align-items: center;
}

body{
    height: 100vh; /*Ajustando ocupação completa da altura da tela com CSS*/
    box-sizing: border-box;
    background-color: #CDCDC6;
    color: #283639 ;
}
.titulo-destaque{
color: #A92B47;
}
a{
    background-color: #6b6b52;
    padding: 10px;
    border-radius: 25%;
}